apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
  name: allow-redis-external
  namespace: default
spec:
  egress:
  - ports:
    - port: 6379
      protocol: TCP
    - port: 27580
      protocol: TCP
    to:
    - ipBlock:
        cidr: 0.0.0.0/0
  podSelector: {}
  policyTypes:
  - Egress
