apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-k8s-api
  namespace: default
spec:
  podSelector:
    matchLabels:
      app: devops-portfolio-api
  policyTypes:
  - Egress
  egress:
  # Allow access to Kubernetes API server on host
  - ports:
    - port: 6443
      protocol: TCP
    - port: 443
      protocol: TCP
    to:
    - ipBlock:
        cidr: 86.48.29.183/32
  # Allow access to Kubernetes service ClusterIP
  - ports:
    - port: 443
      protocol: TCP
    to:
    - ipBlock:
        cidr: 10.43.0.1/32
