apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
  name: devops-portfolio-api
  namespace: default
spec:
  egress:
  - ports:
    - port: 9090
      protocol: TCP
    to:
    - podSelector:
        matchLabels:
          app: prometheus
  - ports:
    - port: 443
      protocol: TCP
    to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: argocd
  - ports:
    - port: 443
      protocol: TCP
    - port: 80
      protocol: TCP
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: devops-portfolio-dashboard
    ports:
    - port: 5001
      protocol: TCP
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: ingress-nginx
    ports:
    - port: 5001
      protocol: TCP
  - ports:
    - port: 5001
      protocol: TCP
  podSelector:
    matchLabels:
      app: devops-portfolio-api
  policyTypes:
  - Ingress
  - Egress
