apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
  name: mongodb
  namespace: default
spec:
  ingress:
  - from:
    - podSelector:
        matchLabels:
          component: backend
    ports:
    - port: 27017
      protocol: TCP
  podSelector:
    matchLabels:
      app: mongodb
  policyTypes:
  - Ingress
  - Egress
