apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
  name: postgresql
  namespace: default
spec:
  ingress:
  - from:
    - podSelector:
        matchLabels:
          component: backend
    - podSelector:
        matchLabels:
          app: portfolio-api
    ports:
    - port: 5432
      protocol: TCP
  podSelector:
    matchLabels:
      app: postgresql
  policyTypes:
  - Ingress
