apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
  name: redis
  namespace: default
spec:
  ingress:
  - from:
    - podSelector:
        matchLabels:
          component: backend
    ports:
    - port: 6379
      protocol: TCP
  podSelector:
    matchLabels:
      app: redis
  policyTypes:
  - Ingress
  - Egress
