replicaCount: 1

strategy:
  type: Recreate

image:
  client:
    repository: maxjeffwell/k8s-ui-library-storybook
    tag: 20260206-101826-13f2117
    pullPolicy: Always

service:
  client:
    type: NodePort
    port: 80
    targetPort: 80
    nodePort: 30011

resources:
  client:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

autoscaling:
  enabled: false

env:
  client: []

serviceAccount:
  create: false

podSecurityContext: {}

securityContext: {}

ingress:
  enabled: true
  host: showcase.el-jefe.me
