replicaCount: 2

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1

image:
  client:
    repository: maxjeffwell/portfolio-gatsby
    tag: 20260212-231922-3b9380e
    pullPolicy: Always

service:
  client:
    type: NodePort
    port: 80
    targetPort: 80
    nodePort: 30012

resources:
  client:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

autoscaling:
  enabled: false

env:
  client: []

serviceAccount:
  create: false

podSecurityContext: {}

securityContext: {}

ingress:
  enabled: true
  host: el-jefe.me
  wwwRedirect: true
