apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: educationelly-graphql-external-secret
  namespace: default
spec:
  data:
  - remoteRef:
      key: EDUCATIONELLY_GRAPHQL_MONGODB_URI
    secretKey: MONGODB_URI
  - remoteRef:
      key: EDUCATIONELLY_GRAPHQL_JWT_SECRET
    secretKey: JWT_SECRET
  - remoteRef:
      key: SENTRY_DSN
    secretKey: SENTRY_DSN
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: educationelly-graphql-secret

