apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: microservices-mongodb-external-secret
  namespace: microservices
spec:
  data:
  - remoteRef:
      key: MICROSERVICES_MONGODB_ROOT_PASSWORD
    secretKey: mongodb-root-password
  - remoteRef:
      key: MICROSERVICES_MONGODB_ROOT_PASSWORD
    secretKey: mongodb-passwords
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: mongodb

