apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: microservices-redis-external-secret
  namespace: microservices
spec:
  data:
  - remoteRef:
      key: MICROSERVICES_REDIS_PASSWORD
    secretKey: redis-password
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: redis

