apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mongodb-educationelly-external-secret
  namespace: default
spec:
  data:
  - remoteRef:
      key: MONGODB_EDUCATIONELLY_ROOT_PASSWORD
    secretKey: mongodb-root-password
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: mongodb-educationelly-secrets

