apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgresql-codetalk-external-secret
  namespace: default
spec:
  data:
  - remoteRef:
      key: POSTGRESQL_CODETALK_PASSWORD
    secretKey: postgres-password
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: postgresql-codetalk-secrets

