apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vertex-platform-secrets-external-secret
  namespace: vertex-platform
spec:
  data:
  - remoteRef:
      key: VERTEX_JWT_SECRET
    secretKey: JWT_SECRET
  - remoteRef:
      key: INFLUXDB_TOKEN
    secretKey: INFLUXDB_TOKEN
  - remoteRef:
      key: VERTEX_INFLUXDB_USERNAME
    secretKey: INFLUXDB_USERNAME
  - remoteRef:
      key: VERTEX_INFLUXDB_PASSWORD
    secretKey: INFLUXDB_PASSWORD
  - remoteRef:
      key: VERTEX_MONGO_USERNAME
    secretKey: MONGO_USERNAME
  - remoteRef:
      key: VERTEX_MONGO_PASSWORD
    secretKey: MONGO_PASSWORD
  - remoteRef:
      key: VERTEX_REDIS_PASSWORD
    secretKey: REDIS_PASSWORD
  - remoteRef:
      key: NEON_DATABASE_URL
    secretKey: AUTH_DATABASE_URL
  - remoteRef:
      key: NEON_DATABASE_URL
    secretKey: USER_DATABASE_URL
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: platform-secrets

