apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "intervalai.fullname" . }}-client
  labels:
    app: {{ include "intervalai.name" . }}-client
    chart: {{ include "intervalai.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    portfolio: "true"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "intervalai.name" . }}-client
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "intervalai.name" . }}-client
        release: {{ .Release.Name }}
        portfolio: "true"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "intervalai.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}-client
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.client.repository }}:{{ .Values.image.client.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.client.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.client.targetPort }}
          protocol: TCP
        env:
        {{- range .Values.env.client }}
        - name: {{ .name }}
          value: {{ .value | quote }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          {{- toYaml .Values.resources.client | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
